/* Google Fonts */
@import 'https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&subset=latin-ext';

/* All the stuff I made */
body {
    font-family: 'Dosis', sans-serif;
}
/* Formatting for links */
.forecast-link, .return-link {
    color: #26E8CD;
    border: 2px solid #26E8CD;
    border-radius: 50px;
    padding: 5px
}
.current-weather .forecast-link:hover, .return-link:hover {
    border-color: #2381E8;
    color: #2381E8;
    text-decoration: none;
    
}
.saved-location-weather .forecast-link:hover {
    border-color: #26E8CD;
    color: #26E8CD;
    text-decoration: none;
}
.return-link {
    text-align: center;
    margin-top: 20px;
}
/* Weather & Icon formatting */
.current-weather * {
    text-align: center;
    color: #26E8CD;
}
.current-weather .weather-icon {
    font-size: 144px;
}
.saved-location-weather * {
    text-align: center;
    color: #2381E8;
    border-color: #2381E8;
}
.saved-location-weather .weather-icon {
    font-size: 72px;
}
.forecast-day .tempurature, .forecast-day .weather-icon {
    text-align: center;
    color: #26E8CD;
}
.forecast-day .day, .forecast-day .date {
    text-align: center;
    color: #2381E8;
}

/* forecast formatting */
@media screen and (max-width: 544px) {
    .forecast-day .weather-icon {
        font-size: 48px;
    }
    .forecast-day {
        margin-top: 20px;
    }
}
@media screen and (min-width: 544px) {
    .forecast-day .weather-icon {
        font-size: 72px;
    }
    .forecast-day {
        margin-top: 20px;
    }
}
@media screen and (min-width: 768px) {
    .forecast-day .weather-icon {
        font-size: 48px;
    }
    .forecast-day {
        margin-top: 25px;
    }
}
@media screen and (min-width: 992px) {
    .forecast-day .weather-icon {
        font-size: 36px;
    }
    .forecast-day {
        margin-top: 30px;
    }
}
@media screen and (min-width: 1200px) {
    .forecast-day .weather-icon {
        font-size: 36px;
    }
    .forecast-day {
        margin-top: 35px;
    }
}

/* Align Icons */
.location-region {
    margin-bottom: 0px;
    font-weight: 600;
}
.location-country {
    font-weight: 300;
}
.current-weather div.row {
    margin-top: 15px;
}
.current-weather div.row:first-of-type {
    margin-top: 20px;
}
.current-weather .tempurature {
    font-size: 24px;
    margin-top: 10px;
}
.saved-location-weather .tempurature {
    font-size: 18px;
    margin-top: 10px;
}
.saved-location-weather div.row {
    margin-top: 10px;
}
.saved-location-weather div.row:first-of-type {
    margin-top: 25px;
}
/* button formatting */
.btn-add {
    margin-top: 20px;
    color: #26E8CD;
    border-color: #26E8CD;
    background-color: white;
    border-width: thick;
}
.btn-add *:hover {
    color: #2381E8;
    border-color: #2381E8;
    background-color: white;
    border-width: thick;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
@media screen and (min-width: 992px) {
    .current-weather .btn-add {
        margin-top: 0;
        float: right;
    }
}
/* search-bar formatting */
.search-bar {
    font-size: 36px;
    height: 48px;
}

